.container{
  background-color: #2B2B2B;
}

.choices{
  display:flex;
  flex-direction: row;
  justify-content:center;
}

.choice{
  border: 1px;
  border-color: red;
  color: #D100FF;
  padding: 20px;
  font-family: Impact, Charcoal, sans-serif;

  
}

#menu{
  display:flex;
  justify-content:center;
}

.menu_item{
  padding:20px;
}

.displayArea{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

#winStatus{
  display: flex;
justify-content: center;  
}

.selection{
  height:400px;
  width: 400px;
  box-shadow: 10px 10px 5px black;

}

#winDisplay{
  font-size: 100;

}

.pick_text{
  color: #03D5EA;
  font-size: 30px;
  font-family: Impact, Charcoal, sans-serif;
}
.centered{
  justify-content: center;

}

#gameEndState{
  font-family: Impact, Charcoal, sans-serif;

}

#winStatus{
  font-family: Impact, Charcoal, sans-serif;
  color: #ECECEC;
}